

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*phone styles*/
.mobile-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.8em;

    .hamburger{
        border: 2px solid green;
        height: 50px;
        width: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 5px;

        .line{
            background: green;
            height: 3px;
            width: 80%;
        }
    }
}

.pc-nav{
    display: none;
}

.banner{
    background: lightgray;
    padding: 20px 0;

    .row{
        gap: 20px;

       .banner-text{
            button{
                color: white;
                background: green;
                border: none;
                border-radius: 8px;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 5px 10px;
                width: 10rem;
            }
        }

        .banner-image{
            display: flex;
            justify-content: center;
            align-items: center;

            img{
                width: 100%;
            }
        }
    }
}

.services{
    background: lightgray;
    padding: 20px 0;

    .row{
        gap: 20px;

        img{
            width: 100%;
        }

        a{
            text-decoration: none;
            color: green;
        }
    }
    
}

.mission{
    background: dimgray;
    background-image: url("../images/modelling.png");
    background-size: cover;
    background-blend-mode: multiply;
    color: white;
    padding: 20px 0;
}

.benefits{
    
     .center-items{
        text-align: center;
    } 

    .card{
        padding: 1em;
        background: lightgray;
        border-radius: 1rem;

        .h3{
            margin: -1px 0;
        }
        p{
            margin: -1px 0;
        }

        ol{
            list-style-type: decimal;   
        }
    }
}

.questions{
    padding: 20px 0;

    form{
        background: lightgray;
        padding: 5px 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        
        input{
            width: 65%;
        }

        button{
            width: 65%;
            border: 1px solid black;
            box-shadow: none;
        }
    }
}

.subscribe{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: lightgray;
    padding: 20px 0;

    .text{
        text-align: center;
    }
    input{
        width: 70%;
    }
    button{
        background: green;
        padding: 5px 30px;
        color: white;
        border: none;
    }
}

.copyright{
    background: green;
    color: white;
    text-align: center;
}

/*
####################################################
M E D I A  Q U E R I E S
####################################################
*/

/*
::::::::::::::::::::::::::::::::::::::::::::::::::::
Bootstrap 4 breakpoints
*/

/* 
Extra small devices (portrait phones, less than 576px) 
No media query since this is the default in Bootstrap because it is "mobile first"
*/


/* Small devices (landscape phones, 576px and up) */
@media (min-width: 568px) {  

}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {  
    .mobile-nav1{
    display: none;
    }

    .pc-nav{
        display: block;

        .flex-container{
            display: flex;
            align-items: center;
            justify-content: space-between;

            ul{
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 20px;
                font-weight: 600;

                li{
                    color: green;
                    font-size: 20px;

                    button{
                        color: white;
                        background: green;
                        border: none;
                        border-radius: 8px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        padding: 5px 20px;
                    }
                }
            }
        }
    }

    .banner{
        padding: 40px 0;

        .row{
            gap: 0;


        }
    }

    .services{
        padding: 40px 0;

        .row{
            gap: 0;

            .text{
                height: 20vh;
            }
        }
    }

    .benefits{

    #heading-center{
        text-align: center;
        margin-bottom: 2em;
    }
    
        .center-items{
        text-align: left;
        }

        .card{
            width: 17rem;
        }
    }

    .questions{
        padding: 40px 0;
    
        .form{
            display: flex;
            justify-content: center;
            align-items: center;

            form{
                height: 30vh;
                width: 20rem;
                
                textarea{
                    width: 85%;
                }

                input{
                    width: 85%;
                }
        
                button{
                    width: 85%;
                }
            }
        }
    }

    .subscribe{
        input{
            width: 55%;
        }
        .text{
            margin-bottom: 15px;
            
            h2{
                margin-bottom: -1px;
            }
        }
    }

    .copyright{
        padding: .1em;
    }

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 

    .pc-nav{
        .flex-container{
            ul{
                gap: 100px;
            }
        }
    }

    .banner{
        padding: 60px;
    }

    .services{
        .row{
            .text{
                height: 25vh;
            }
        }
    }

    .benefits{
        .card{
            width: 25rem;
        }
    }

    .mission{
        
        .text{
            width: 40%;
        }
    }

    .questions{
        padding: 40px 0;
    
        .form{
            form{
                height: 40vh;
                width: 30rem;
                padding: 15px 0;
                textarea{
                    width: 85%;
                }
            }
        }
    }

    .subscribe{
        input{
            width: 27rem;
            padding: 7px;
        }
    }

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  
    .services{
        .row{
            .text{
                height: 17vh;
            }
        }
    }
    
}



/*
::::::::::::::::::::::::::::::::::::::::::::::::::::
Custom media queries
*/

/* Set width to make card deck cards 100% width */
@media (max-width: 950px) { 

}